body {
    font-family: 'Arial', sans-serif;
    margin: 30px;
    background-color: #fbe6e6; 
}

h1 {
    color: #d16d82; 
    text-align: center;
}

h2 {
    color: #87556f; 
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: #f9dcdc; 
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
}

a {
    color: #d16d82; 
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
button {
    background-color: #0066cc;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    font-size: 16px;
    margin: 10px;
    cursor: pointer;
}

button:hover {
    background-color: #0052a3;
}

#dogPhoto {
    width: 50%;
    height: auto;
    
}
